@model AdminEventPageViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin omgeving - Gearchiveerde evenementen";
}
<h1>Evenementen</h1>
<p>
    <a asp-area="" asp-controller="Event" asp-action="EventCreate">Maak een nieuw evenement aan</a>
</p>

<form class="form-inline" asp-action="AdminEventPage" asp-controller="Admin">
    <input class="form-control mr-sm-" type="text" placeholder="Zoek een evenement" name="id" style="width:350px;">
</form>

<table class="table table-striped table-bordered table-sm " style="max-width:100%" id="myTable">
    <tr>
        <th>
            Evenement naam
        </th>
        <th>
            Categorie
        </th>
        <th>
            Bezoekers
        </th>
        <th>
            Voor wie?
        </th>
        <th>
            Opties
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    <a href='@string.Format("/Event/EventPage?eventID={0}", item.EventId)'>
                        <div style="height:100px;overflow:auto;">@Html.DisplayFor(modelItem => item.EventName)</div>
                    </a>
                </td>
                <td>
                    @Model.Categories.Where(x => x.CategorieId == item.CategoryId).FirstOrDefault().CategorieName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForEmployees)
                </td>
                <td>

                    <a href='@string.Format("/Event/EventDeletePage?eventID={0}", item.EventId)'>Verwijder</a> |
                    <a href='@string.Format("/Event/EventChangePage?eventID={0}", item.EventId)'>Wijzig</a>
                </td>
            </tr>
        }
    </tbody>
</table>

