@model IEnumerable<EventPlanner.Models.Categorie>

@{
    Layout = "_LayoutAdmin";
}
<h1>Categorieën</h1>
<p>
    <a asp-area="" asp-controller="Event" asp-action="EventCategories">Maak een nieuwe categorie aan</a>
</p>
<table class="table table-striped table-bordered table-sm ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategorieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                Opties
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                <a href='@string.Format("/Event/CategoryChangePage?CategoryID={0}", item.CategorieId)'>Wijzig</a>  |
                <a href='@string.Format("/Event/CategoryPage?CategoryID={0}", item.CategorieId)'>Details</a>  |
                <a href='@string.Format("/Event/CategoryDeletePage?CategoryId={0}", item.CategorieId)'>Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>