@model UserRoleViewModel

@{
    var roleId = ViewBag.roleId;
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Wijzig rol";
}

<form class="form-inline" asp-action="EditUsersInRole" asp-controller="Admin" asp-route-roleId="@roleId">
    <input class="form-control mr-sm-" type="text" placeholder="Zoek een username" name="id" style="width:350px;">
</form>

<form asp-action="EditUsersInRolePost" asp-controller="Admin" asp-route-roleId="@roleId">
    <div class="card">
        <div class="card-header">
            <h2>Voeg gebruikers toe of verwijder ze van deze rol</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.model[i].UserId" />
                    <input type="hidden" asp-for="@Model.model[i].UserName" />
                    <input asp-for="@Model.model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.model[i].IsSelected">
                        @Model.model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-Create"
                   style="width:auto" />
            <a asp-action="ListRoles" asp-route-id="@roleId"
               class="btn btn-danger" style="width:auto">Annuleren</a>
        </div>
    </div>
</form>
<nav aria-label="Admin navigation">
    <ul class="pagination">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            if (i == Model.PageNumber)
            {
                <li class="page-item active"> <a class="page-link" asp-controller="Admin" asp-action="EditUsersInRole" asp-route-pageSelection="@i" asp-route-roleId="@roleId"> @i </a> </li>
            }
            else
            {
                <li class="page-item"> <a class="page-link" asp-controller="Admin" asp-action="EditUsersInRole" asp-route-pageSelection="@i" asp-route-roleId="@roleId"> @i </a> </li>
            }
        }
    </ul>
</nav>
