@model List<UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
    Layout = "_LayoutAdmin";
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Voeg gebruikers toe of verwijder ze van deze rol</h2>
        </div>

        <form class="form-inline" asp-action="EditUserInRole" asp-controller="Admin">
            <input class="form-control mr-sm-" type="text" placeholder="Zoek een categorie" name="id" style="width:100%;">
        </form>

        <div class="card-body">
            @foreach (var item in Model)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@item.UserId" />
                    <input type="hidden" asp-for="@item.UserName" />
                    <input asp-for="@item.IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@item.IsSelected">
                        @item.UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn btn-primary" style="width:auto">Annuleren</a>
        </div>
    </div>
</form>
