@model CoachViewModel
@{
    ViewData["Title"] = "Coaches";
}

<h1>Coaches</h1>
<br />
@foreach (var item in Model.Coaches)
{
    <hr />
    <br />
    <div class="container">
        <div class="row">
            <div class="col"><h4><a href='@string.Format("/Coach/CoachPage?coachID={0}", item.CoachId)'>@item.Name</a></h4><br /></div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"><img class="rounded" style="max-width: 66%" src="~/Images/Coaches/@item.ImageSrc" /></div>
            <div class="col-sm-9 col-md-9 col-lg-9"><h8>@item.Info</h8></div>
        </div>
    </div>
    <br />
}

<nav aria-label="Coach navigation">
    <ul class="pagination">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            if (i == Model.PageNumber)
            {
                <li class="page-item active"> <a class="page-link" asp-controller="Coach" asp-action="Coaches" asp-route-pageSelection="@i"> @i </a> </li>
            }
            else
            {
                <li class="page-item"> <a class="page-link" asp-controller="Coach" asp-action="Coaches" asp-route-pageSelection="@i"> @i </a> </li>
            }
        }
    </ul>
</nav>