@model EventViewModel
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "EventPage";
}
<div class="container">
    <div class="row">
        <div class="col">
            <b class="text-dark">@Html.ActionLink("Terug naar evenementen", "Events", "Event")</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.EventName</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded img-fluid" style="max-width: 90%" src=~/Images/Events/@Model.ImageSrc alt="@Model.ImageSrc.ToString()">
        </div>
        <div class="col-lg-6">
            <h5 class="card-title">@Model.Date.ToString("g")</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="col-lg-2">
            <div class="apply-card" style="border: none;">
                <h5 class="card-title">Deel dit evenement</h5>
                <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I just joined an event, check it out!" data-show-count="false">Tweet</a></div>
                <!-- <div class="fb-share-button" data-href=" <!--https://localhost:44399/Event/EventPage?eventID=@Model.EventId--><!-- " data-layout="button_count" data-size="large"><a target="_blank" href="<!--https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"---><!-- class="fb-xfbml-parse-ignore">Delen</a></div> --->
                <div class="fb-share-button" data-href="https://www.teamupit.nl/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Delen</a></div>
                <p> </p>
                <h5 class="card-title">Ben je geïnteresseerd?</h5>
                @if (!(Model.VisitorLimit == Model.Visitors))
                {
                    <p class="card-text">Er zijn nog @(Model.VisitorLimit - Model.Visitors) plaatsen vrij!</p>
                }
                else
                {
                    <p class="card-text">Er zijn geen plaatsen meer vrij!</p>
                }
            </div>
            <hr />
            <br />
            @if (!(Model.VisitorLimit == Model.Visitors) && (signInManager.IsSignedIn(User)))
            {
                <form method="post" asp-controller="Event" asp-action="EventJoin" asp-route-userName="@User.Identity.Name" asp-route-eventId="@Model.EventId">
                    <button class="btn btn-block btn-Create" style="width:100%">Neem deel</button>
                </form>
            }
            else
            {
                <a href='@string.Format("/Account/Register")' class="btn btn-Create"> Maak een account aan om deel te kunnen nemen</a>
            }
            <p> </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><i class="fa fa-map-marker" aria-hidden="true"></i><b class="text-primary">@Model.Location</b></div>
    <iframe class="iframe-container" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" width="700" height="440"
            src="https://maps.google.com/maps?hl=nl&q=@Model.Location&ie=UTF8&t=m&z=15&iwloc=B&output=embed"></iframe>
</div>

